/**
*
* redline site style
* 
* @author Stéfano Stypulkowski
*/
*{
  outline:0px;
}
body{
  margin:0px;
  padding:0px;
  text-align:center;
  background-color:#fff;
}
#dial{
  width:900px;
  margin:200px auto 0px auto;
  cursor:default;
}
#dial div.spacer{
  height:200px;
  width:10px;
  margin:2px;
  float:left;
}
#dial div.digit-case{
  width:112px;
  border:3px solid #ccc;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  height:200px;
  float:left;
  margin:2px;
  background: #FFFCFC; /* old browsers */
  background: -moz-linear-gradient(top, #FFFCFC 0%, #C4C4C4 50%, #ADADAD 51%, #D1D1D1 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFCFC), color-stop(50%,#C4C4C4), color-stop(51%,#ADADAD), color-stop(100%,#D1D1D1)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFCFC', endColorstr='#D1D1D1',GradientType=0 ); /* ie */
  border:1px solid #ddd;
  overflow:hidden;
  -moz-box-shadow: 1px 1px 5px #000;
  -webkit-box-shadow: 1px 1px 5px #000;
  box-shadow: 1px 1px 5px #000;
}
#dial div.digit-wrapper{
  width:112px!important;
  float:left!important;
  height:200px!important;
  clear:both!important;
}
#dial span.digit{
  font-family:arial;
  color:#ddd;
  margin-top:20px;
  font-size:150px;
  display:block;
  color:#333;
  text-shadow:#ddd -1px -1px 1px;
}
#millisecond_1 span.digit,
#millisecond_2 span.digit,
#millisecond_3 span.digit{
  margin-top:50px;
  font-size:120px;
}
#dial div.pusher{
  width:112px;
  float:left;
}
#controls{
  margin:10px auto;
  width:900px;
  padding-left:5px;
}
#controls button{
  height:50px;
  float:left;
}
#action{
  width:200px;
}
#restart,
#reset{
  width:100px;
}
#progress-bar{
  background: #FFFCFC; /* old browsers */
  background: -moz-linear-gradient(top, #FFFCFC 0%, #C4C4C4 50%, #ADADAD 51%, #D1D1D1 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFCFC), color-stop(50%,#C4C4C4), color-stop(51%,#ADADAD), color-stop(100%,#D1D1D1)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFCFC', endColorstr='#D1D1D1',GradientType=0 ); /* ie */
  border:1px solid #ddd;
  padding:2px;
  height:44px;
  width:442px;
  color:#333;
  float:left;
  -moz-box-shadow: 1px 1px 5px #000;
  -webkit-box-shadow: 1px 1px 5px #000;
  box-shadow: 1px 1px 5px #000;
  text-shadow:#ddd -1px -1px 1px;
}
#progress-bar-rail{
  width:440px;
  border:1px solid #999;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  overflow:hidden;
  height:42px;
  background: #b5bdc8; /* old browsers */
  background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* ie */
}
#progress-bar-evolutor{
  width:0px;
  height:42px;
  background: #f3c5bd; /* old browsers */
  background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3c5bd), color-stop(50%,#e86c57), color-stop(51%,#ea2803), color-stop(75%,#ff6600), color-stop(100%,#c72200)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* ie */
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
}
/**
* tooltip
*/
#tip-wrapper{
  position:absolute;
  top:20px;
  right:20px;
  cursor:default;
}
#tip-arrow{
  width:0px;
  height:0px;
  border-style:solid;
  border-width:0px 30px 30px 30px;
  border-color:transparent transparent #b5bdc8 transparent;
  margin-left:30px;
  margin-top:2px;
  position:absolute;
  z-index:1;
}
#tip-arrow-border{
  width:0px;
  height:0px;
  border-style:solid;
  border-width:0px 32px 32px 32px;
  border-color:transparent transparent #000 transparent;
  margin-left:2px;
  position:absolute;
  z-index:0;
  margin-left:28px;
}
#tip-body{
  background: #b5bdc8; /* old browsers */
  background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* ie */
  margin-top:30px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  padding:20px;
  font-size:20px;
  font-family:arial;
  width:300px;
  border:2px solid #000;
  color:#eee;
  text-shadow:#666 -1px -1px 1px;
}
#tip-body a,
#tip-body a:visited{
  text-decoration:underline;
  color:#eee;
  text-shadow:#666 -1px -1px 1px;
}
/**
* time input popup
*/
#time-input-shadow{
  position:absolute;
  width:540px;
  height:360px;
  top:100px;
  left:50%;
  margin-left:-270px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;  
  background-color:#999;
  opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=75); /* IE lt 8 */
	-ms-filter: "alpha(opacity=75)"; /* IE 8 */
	-khtml-opacity: .75; /* Safari 1.x */
	-moz-opacity: .75; /* FF lt 1.5, Netscape */
  z-index:9;
}
#time-input-container{
  position:absolute;
  width:500px;
  height:320px;
  top:120px;
  left:50%;
  margin-left:-250px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  background-color:#fff;
  z-index:10;
}
#time-input-header{
  margin:3px;
  text-align:left;
  padding:3px;
  border-bottom:2px solid #333;
}
#time-input-header span{
  color:#333;
  font-family:arial;
  font-size:18px;
}
#time-input-group-minute{
  float:left;
  margin:9px 0px 0px 9px;
}
#time-input-group-second{
  float:right;
  margin:9px 9px 0px 0px;
}
.time-input-group button{
  width:100%;
  float:left;
  clear:left;
}
.time-input-group input{
  width:230px;
  height:130px;
  border:1px solid #ddd;
  float:left;
  clear:left;
  font-size:100px;
  font-family:arial;
  -moz-box-shadow: 1px 1px 5px #000;
  -webkit-box-shadow: 1px 1px 5px #000;
  box-shadow: 1px 1px 5px #000;
  text-align:center;
  text-shadow:#ddd -1px -1px 1px;
  color:#333;
}
#set-time{
  clear:left;
  margin:9px;
  float:left;
  width:482px;
}
.julian-button{
  background: #FFFCFC; /* old browsers */
  background: -moz-linear-gradient(top, #FFFCFC 0%, #C4C4C4 50%, #ADADAD 51%, #D1D1D1 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFCFC), color-stop(50%,#C4C4C4), color-stop(51%,#ADADAD), color-stop(100%,#D1D1D1)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFCFC', endColorstr='#D1D1D1',GradientType=0 ); /* ie */
  border:1px solid #ddd;
  padding:7px;
  color:#333;
  float:left;
  margin:0px 1px 0px 0px;
  cursor:pointer;
  -moz-box-shadow: 1px 1px 5px #000;
  -webkit-box-shadow: 1px 1px 5px #000;
  box-shadow: 1px 1px 5px #000;
  text-shadow:#ddd -1px -1px 1px;
}
.julian-button:hover{
  background: #AFAFAF; /* old browsers */
  background: -moz-linear-gradient(top, #AFAFAF 0%, #6B6B6B 50%, #262626 51%, #686868 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AFAFAF), color-stop(50%,#6B6B6B), color-stop(51%,#262626), color-stop(100%,#686868)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AFAFAF', endColorstr='#686868',GradientType=0 ); /* ie */ 
  border:1px solid #555;
  color:#fff;
  text-shadow:#888 -1px -1px 1px;
}